main {
    background-color: var(--main-bg);
      width: 100vw;
      min-height: 100vh;
      padding-block: 160px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
.about {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
}

  .about pre {
    font-size: 3px;
  }

  .about p {
    font-size: clamp(20px, 4vw, 30px);
  }

.about-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.me-container {
  width: 60%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
}

@media only screen and (max-width: 800px) {
  .me-container {
    flex-direction: column;
  }

  .about {
    gap: 50px;
    padding-top: 150px;
  }

  .about-text, .me-container {
    width: 100%;
  }

  main {
    padding-block: 0;
  }
  
}
