main {
    background-color: var(--main-bg);
      width: 100vw;
      min-height: 100vh;
      padding-block: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
.design {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 20px;
  padding-top: 60px;
}

  .design pre {
    font-size: 3px;
  }

  .design p {
    font-size: clamp(20px, 4vw, 30px);
  }

.design-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media only screen and (max-width: 800px) {
  .design-text {
    width: 100%;
  }
}

