* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

:root {
    --main-bg: #ffffff;
    --main-text: #919191;
    --title-font: 'B612 Mono';
    --text-font: 'Libre Franklin'
}

body {
    background-color: var(--main-bg);
    overflow-x: hidden;
}

a {
    color: var(--main-text) !important;
    text-decoration: none;
}


h1 {
    font-size: 9vw;
    line-height: .8em;
    letter-spacing: -.2em;
    font-family: var(--title-font);
    color: var(--main-text);
    font-weight: 500;  
}

h2 {
  font-size: clamp(35px, 7vw, 60px);
  line-height: .9em;
  letter-spacing: -.06em;
  font-family: var(--text-font);
  color: var(--main-text);
  font-weight: 500;  
}

h3 {
    font-size: clamp(25px, 6vw, 40px);
    line-height: .9em;
    letter-spacing: -.06em;
    font-family: var(--text-font);
    color: var(--main-text);
    font-weight: 500;  
  }


.title {
    font-family: var(--title-font);
    color: var(--main-text);
    font-weight: 500;  
}

p, a {
    font-family: var(--text-font);
    color: var(--main-text);
    letter-spacing: -1.2px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    font-weight: 400 !important;
}


.title {
    font-size: 20px;
    letter-spacing: -4px;
}

.icon-span {
width: fit-content;
display: flex;
align-items: center;
justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
}
.stick-header {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: calc(100%);
    background-color: var(--main-bg);
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 4px;
    background: var(--main-bg);
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 4px;
    background: var(--main-text);
    width: 0%;
  }


header {
    background-color: var(--main-bg);
    position: fixed;
    width: 100vw;
    z-index: 9999;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    padding: 0 20px;
}

.header-p1 {
    display: flex;
    gap: 40px;
}

.header-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.open, .close {
    color: var(--main-text);;
    display: none !important;
    cursor: pointer;
}

.ham-menu {
    min-height: calc(100vh - 80px);
    width: 100vw;
    top: 80px;
    transform: translateX(100%);
    display: flex;
    transition: transform ease-in-out 0.4s;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    background-color: var(--main-bg);
}

.ham-menu > nav {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    font-size: clamp(25px, 5vh, 40px);
}

.ham-menu > nav > a {
    text-align: right;
}


.active-nav {
    transform: translateX(0);
}

@media only screen and (max-width: 800px) {
    .active {
        display: inherit !important;
    }

    .header-p1 > nav{
        display: none;
    }

    .header-p2 {
        padding: 0;
    }

}

@media only screen and (min-width: 800px) {
    .ham-menu {
        display: none;
    }
}

footer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

footer h2 {
    letter-spacing: -.20em !important;
    font-family: 'B612 Mono';
}


footer h2 {
    font-size: clamp(48px, 4.5vw, 100px);
}

footer a {
    z-index: 999;
}

.active-page {
    font-style: italic;
}

.hero-section {
    min-width: 100vw;
    display: flex;
    min-height: 15vh;
}

.loop-container {
    white-space: nowrap;
    font-weight: 100;
    font-size: 80px;
    color: var(--main-text);
    font-family: var(--title-font);
    letter-spacing: -.2em;
    /* transform: rotate(7deg); */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a {
    position: relative;
    padding: 0.5rem 0;
  }
  
a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease-in-out;
    height: 2px;
    width: 100%;
    background-color: var(--main-text);
  }
  
a:hover::before {
    transform: translateX(-50%) scale(1);
  }